/*****INIZIO HEADER*****/
body {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}

#container {
    margin:0 auto;
}


#img_section {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}
#logo {
    width: 130px;
}

#p_simply {
    background-color: #FDFBF1;
    border-top:1px solid #ffd877;
    font-size: 0.8em;
    text-align: center;
    background-color: #fdfbf1;
    padding: 5px;
    height: 25px;
    color: rgb(0, 77, 76);
    
}
#p_simply span {
    font-weight: bold;

}
/*****FINE HEADER******/


/*****INIZIO MAIN*****/
main, footer {
    width: 50%;
    margin:0 auto;
    
}

/*FIRST SECTION*/
#first{
    text-align: center;
    margin: 0 auto;
    
}

h1 {
    text-align: center;
}

#focaccia_appetizer{
    width: 70%;
    text-align: left;
    margin: auto;
}

figure {
    text-align: center;
}

#img_f {
    width: 400px;
    border-radius: 3%;
    box-shadow: 3px 3px 10px black;
}

 figcaption {
    color: #999999;
    text-align: center;
    margin-top: 5px;
}



#p_uimg {
    width: 68%;
    margin: 0 auto;
    border-left: 1px solid #ce9865;

}

#p_uim {
    margin: 0 5px 0;

}
/**link **/
a {
    color: #107777;
} 
/**link **/
/** SECOND SECTION **/

.head_section {
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(146, 207, 218);
}

/** THRID SECTION **/

.p_list, #dough  {
    width: 70%;
    margin: 10px auto;
    font-weight: bold;
    

}
.list, #dough, dt {
    width: 60%;
    margin:10px auto;
   
}
/*FOOOTER*/
footer p {
    width: 70%;
    text-align: left;
    margin: 0 auto;
}
