body {
    background-color: cornflowerblue;
    text-align: center;
    box-sizing: border-box;
    margin: 15%;
    
}

.Conteinerlist{
    margin: 0 auto;
    text-align: center;
    background-color: aquamarine;
    width: 50%;
    border-radius: 15%;
}
.bla {
    font-size: 35px;
}

form {
    text-align: center;
    padding: 0.5em;
}
ul {
    list-style-type: none;
}
li {
    text-align: left;
}
.toggle {
    text-decoration: line-through;
}